
@{
    ViewBag.Title = "DtLocation";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h2>DtLocation</h2>
<div style="width: 100%;">
    <table style="width: 100%;">
       
        <tr>
            <td style="width: 15%;">
                Converted Time :
            </td>
            <td style="width: 50%;">
                @ViewData["ConvertedTZone"]
            </td>
        </tr>
    </table>
</div>
