@model IEnumerable<eCommerce.Models.product>

@{
    ViewBag.Title = "NewProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>NewProduct</h2>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="row special-list">

    @foreach (var item in Model)
    {

        <div class="col-lg-3 col-md-6 special-grid best-seller">
            <div class="products-single fix">
                <div class="box-img-hover">
                    <div class="type-lb">
                        <p class="sale">Sale</p>
                    </div>
                    <img src="../image/@Url.Content(item.p_img)" width="100px" height="200px" class="img-fluid" alt="Image">
                    <div class="mask-icon">
                        <ul>
                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                        </ul>
                        @using (Html.BeginForm("AddtoCart", "eCommerce", new { productid = item.p_id }, FormMethod.Post))
                        {
                            @*<a class="pull-right" href="#"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a>*@
                        <button type="submit" class="cart pull-right" value="Add to Cart" @*style="color : black ;background-color: red "*@><i class="fa fa-shopping-bag" aria-hidden="true"></i></button>
                        }
                    </div>
                </div>
                <div class="why-text">
                    <h4>  @Html.DisplayFor(modelItem => item.p_name)</h4>
                    <h5> price:@Html.DisplayFor(modelItem => item.product_price)</h5>
                </div>
            </div>
        </div>
    }
</div>

